.header {
  background: linear-gradient(to top, skyblue, #c8ecff);
  border-bottom: 5px solid white;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }
  &__supes {
      text-transform: uppercase;
      font-family: verdana;
      font-size: 3em;
      font-weight: 700;
      color: #eb5432;
      text-shadow: 1px 1px 1px #ffd000,
      1px 2px 1px #ffd000,
      1px 3px 1px #ffd000,
      1px 4px 1px #ffd000,
      1px 5px 1px #ffd000,
      1px 6px 1px #ffd000,
      1px 7px 1px #ffd000,
      1px 15px 8px rgba(16,16,16,0.4);
  }
}